.scoreboard-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.scoreboard {
  border-radius: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
}
